# waf files
.waf-*
.waf3-*
.lock-*

# build
build/
doc/html/
doc/latex/
doc/introspected-doxygen.h
doc/ns3-object.txt

# python build
*.py[cod]
testpy-output/

# c++ build

# simulation output
/*.log
/*.pcap
/*.png

# eclipse
.cproject
.project

# misc junk
*~
*.swp
*.swo

